* {
  font-family: sans-serif;
}

body {
  background-color: gray;
}

img {
  max-width: 100%;
}

pre {
  font-family: monospace;
}

#mainWindow {
  background-color: white;
  width: 700px;
  margin: auto;
  padding: 10px;
}

#GoBack {
  background-color: white;
  width: 700px;
  margin: auto;
  padding: 10px;
  text-align: right;
}

.buttonDefaultStyle {
  color: darkred;
  background-color: lightgray;
  display: block;
  font-weight: bold;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.buttonGrayedOut {
  opacity: 0.3;
  background-color: lightgray;
  display: block;
  font-weight: bold;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.toggleOff {
  display: none;
}
