* {
  font-family: sans-serif;
}

body {
  background-color: gray;
}

img {
  max-width: 100%;
}

#main {
  background-color: white;
  width: 700px;
  margin: auto;
  padding: 10px;
}

#GoBack {
  background-color: white;
  width: 700px;
  margin: auto;
  padding: 10px;
  text-align: right;
}

.menu {
  display: block;
}

.menu-hidden {
  display: none;
}

.button {
  color: darkred;
  background-color: lightgray;
  display: block;
  font-weight: bold;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.button-hidden {
  display: none;
}
