* {
}

body {
  background-color: gray;
}

img {
  max-width: 100%;
}

pre {
  font-family: monospace;
}

#mainWindow {
  width: 800px;
  margin: auto;
}

#GoBack {
  width: 760px;
  margin: auto;
  background-color: white;
  margin-top: 15px;
  margin-bottom: : 35px;
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  /* font-family: sans-serif; */
}

.buttonDefaultStyle {
  color: darkred;
  background-color: lightgray;
  display: block;
  font-weight: bold;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.buttonGrayedOut {
  opacity: 0.3;
  background-color: lightgray;
  display: block;
  font-weight: bold;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.cardwindow {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  /* font-family: sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.eccode {
  margin-left: 2em;
}

.eccodebq {
  padding: 10px;
  font-family: monospace;
  background-color: #e2e2e2;
}
.eccodetag {
  color: darkred;
}

.eccodeproperty {
  font-weight:800;
  color: green;
}
