{
  "globals" : {
    # classes
    "Block": true,
    "BlockArray": true,
    "Button": true,
    "Card": true,
    "Conditional": true,
    # user input
    "rawScript": true,
    # empty block placeholder
    "nullBlock": true,
    "currentCard": true,
    "currentButton": true,
    "currentButtons": true,
    "currentButtonCard": true,
    "projectState": true,
    # the default html div
    "mainHTMLnode": true,
    "tagsThatCanUpdate": true,
    # temporary dictionaries
    "globalExcerpts": true,
    "globalTagList": true,
    "globalTagTrie": true,
    "globalSettings": true,
    # permanent dictionaries
    "globalCardDict": true,
    "globalButtons": true,
    "globalVar": true,
    "cardVar": true,
    "tempVar": true,
    "cardHistoryStack": true,
    # global methods
    "addToGlobalTagList": true,
    "removeQuotes": true,
    "getUniqueId": true,
    "preprocessRaw": true,
    "preprocessCards": true,
    "activateEventListeners": true,
    "gotoPreviousCard": true,
    "replaceAll": true,
    "addCard": true,
    "getGlobalTrie": true,
    "getCardHistoryPrefix": true,
    # parser dictionaries
    "bbCodeProcessCard": true,
    "bbCodeHTMLProcess": true,
  },

  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {"impliedStrict": true}
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-template-curly-in-string": "error",
    "no-console": "off",
    "no-undefined": "off",
    "indent": ["error", 2],
    "quotes": ["warn", "single", {"allowTemplateLiterals": true}],
    "no-multi-spaces": ["warn", {"exceptions": { "VariableDeclarator": true }}],
    "no-trailing-spaces": "warn",
    "new-cap": "warn",
    "no-unused-vars": "off",
    "no-redeclare": ["error", { "builtinGlobals": true }]
  }
}
