{
  "globals" : {
    "rawText":true,
    "slides": true,
    "globalHistory": true,
    "toggleCounter": true,
    "currentSlideName": true,
    "selectedButton": true,
    "currentButtonsDictionary": true,
    "currentButtonsArray": true,
    "defaultLinkType": true,
    "defaultButtonLimit": true,
    "currentSlide": true,
    "runButton": true,
    "activateToggles": true,
    "activateInteraction": true
  },

  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {"impliedStrict": true}
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-template-curly-in-string": "error",
    "no-console": "off",
    "no-undefined": "off",
    "indent": ["error", 4],
    "quotes": ["warn", "single", {"allowTemplateLiterals": true}],
    "no-multi-spaces": ["warn", {"exceptions": { "VariableDeclarator": true }}],
    "no-trailing-spaces": "warn",
    "new-cap": "warn",
    "no-unused-vars": "off",
    "no-redeclare": ["error", { "builtinGlobals": true }]
  }
}
